.plava{
width: 500px;
height: 350px;
background-color: blue;
position: relative;
}
.crvenavertikalna{
    width: 500px;
    height: 60px;
    background-color:whitesmoke;
    top: 140px;
position: absolute;
}
.crevanahor{
width: 60px;
    height: 350px;
    background-color: whitesmoke;
    left: 90px;
position: absolute;
}
.belavera{
width: 500px;
    height: 40px;
    background-color: red;
    top: 150px;
position: absolute;
}
.belahor{
width: 40px;
    height: 350px;
    background-color: red;
    left: 100px;
position: absolute;
}
.tirkiz{
width: 500px;
height: 350px;
background-color: #00a9ce;
position: relative;
}
.zut{
    width: 500px;
    height: 110px;
    background-color: #fdda25;
    top: 120px;
position: absolute;
}
.crna{
width: 0;
height: 0;
border-left: 195px solid black;
border-top: 175px solid transparent;
border-bottom: 175px  solid transparent ;
position: absolute;
}
.crvena{
width: 500px;
height: 350px;
background-color: red;
position: relative;
}
.bilag{
   width: 100px;
height: 350px;
background-color: whitesmoke;
position: relative; 
}
.bila{
width: 0;
height: 0;
border-left: 80px solid whitesmoke;
border-top: 35px solid transparent;
border-bottom: 35px  solid transparent ; 
position: absolute;
left: 100px;
}
.bila1{
width: 0;
height: 0;
border-left: 80px solid whitesmoke;
border-top: 35px solid transparent;
border-bottom: 35px  solid transparent ; 
position: absolute;
left: 100px;
top: 70px;
}
.bila2{
width: 0;
height: 0;
border-left: 80px solid whitesmoke;
border-top: 35px solid transparent;
border-bottom: 35px  solid transparent ; 
position: absolute;
left: 100px;
top: 140px;
}
.bila3{
width: 0;
height: 0;
border-left: 80px solid whitesmoke;
border-top: 35px solid transparent;
border-bottom: 35px  solid transparent ; 
position: absolute;
left: 100px;
top: 210px;
}
.bila4{
width: 0;
height: 0;
border-left: 80px solid whitesmoke;
border-top: 35px solid transparent;
border-bottom: 35px  solid transparent ; 
position: absolute;
left: 100px;
top: 280px;
}
.zvijezda{
    width: 200px;
    height: 200px;
    background-color: #fdda25;
    clip-path: polygon(

    
        50% 0% ,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35% 
    );
}
.zel{
    width: 500px;
height: 350px;
background-color: #007a5e;
position: relative;
}
.cr{
width: 180px;
height: 350px;
background-color: #cf1128;
position: absolute;
left: 160px;
z-index: 5;

}
.zt{
width: 180px;
height: 350px;
background-color: #fcd116;
position: absolute;
left: 320px;

}
.zv{
    width: 100px;
    height: 100px;
    background-color: #fdda25;
    clip-path: polygon(

    
        50% 0% ,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35% 
    );
    position: absolute;
    left: 195px;
    top: 120px;
    z-index: 6;
}
.zp{
     width: 500px;
height: 350px;
background-color: green;
position: relative;
}
.bp{
    width: 120px;
height: 350px;
background-color: whitesmoke;
position: absolute;
}
.mjesec{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: whitesmoke;
position: absolute;
left: 220px;
top: 70px;
}
.mjese1{
  width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: green;
position: absolute;
left: 265px;
top: 60px;
}
.zvj{
 width: 80px;
    height: 80px;
    background-color: whitesmoke;
    clip-path: polygon(

    
        50% 0% ,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35% 
    );   
    position: absolute;
    z-index: 2;
    left: 345px;
    top: 70px;
    transform: rotate(-20deg);
}

/*TURSKA*/
.c{
width: 500px;
height: 350px;
background-color: red;
position: relative;
}
.k1{
    width: 200px;
height: 200px;
border-radius: 50%;
background-color: whitesmoke;
position: absolute;
top: 70px;
left: 60px;
}
.k2{
    width: 160px;
height: 160px;
border-radius: 50%;
background-color: red;
position: absolute;
top: 90px;
left: 110px;
}
.z{
 width: 100px;
    height: 100px;
    background-color: whitesmoke;
    clip-path: polygon(

    
        50% 0% ,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35% 
    );   
    position: absolute;
    top: 120px;
    left: 230px;
    transform: rotate(-20deg); /*Udesno je plus u lijevo je minus*/
}
/*SAD*/
.bijelasad{
    width: 500px;
    height: 320px;
    background-color: whitesmoke;
    position: relative;
}
.plavasad{
    width: 250px;
    height: 180px;
    background-color: blue;
    position: absolute;
    z-index: 1;
}
.c1{
    width: 500px;
    height: 25px;
    background-color: red;
    position: absolute;
}
.c2{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 50px;
}
.c3{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 100px;
}
.c4{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 150px;
}
.c5{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 200px;
}
.c6{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 250px;
}
.c7{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 300px;
}
.z1{
   width: 20px;
    height: 20px;
    background-color: whitesmoke;
    clip-path: polygon(

    
        50% 0% ,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35% 
    );   
    position: absolute; 
    top: 10px;
    left: 7px;
}
.Tanzanie{
    width: 500px;
height: 350px;
    background: linear-gradient(146deg, #009a3d 0% 35% ,#fce700 35% 40%,black 40% 57%,#fce700 57% 62%,#0064be 62% 100%);
}







